# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
**/doc/api/
**/ios/Flutter/.last_build_id

# Android
android/.gradle/
android/captures/
android/local.properties
/android/app/debug
/android/app/profile
/android/app/release

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
*.xcworkspace
xcuserdata/
DerivedData/

# macOS
macos/Flutter/ephemeral/
macos/Pods/

# Web
web/.dart_tool/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Don't ignore asset files
!assets/
